@using miniproyecto.Models

@model IEnumerable<AlbumViewModel>

@{
    ViewBag.Title = "Página de inicio";
}


<div class="jumbotron mt-2">
    <h1>ASP.NET</h1>
</div>

<div class="row">
    <div class="col">
        <h2>Lista de albums disponibles</h2>
        <br />
        <div class="form-inline">
            <select class="form-control" id="albumCollection">
                @{
                    foreach (var album in Model)
                    {
                        <option value="@album.Id">@album.Title</option>
                    }
                }
            </select>
            <button type="button" class="btn btn-danger" id="btnDetalle">Visualizar albúm</button>
        </div>
    </div>
</div>


@section scripts{

    <script type="text/javascript">
        $(document).ready(function () {
            //$.getJSON("https://jsonplaceholder.typicode.com/albums",
            //$.getJSON("https://jsonplaceholder.typicode.com/photos",
            $.getJSON("https://jsonplaceholder.typicode.com/comments",
                {},
                function (data) {
                    console.log(data);
                });

            $('#btnDetalle').on('click', function () {
                let idSeleccionado = $('#albumCollection option:selected').val();
                let nombreAlbum = $('#albumCollection option:selected').text();

                var url = '/home/detalle?idAlbum=' + idSeleccionado + '&nombreAlbum=' + nombreAlbum;

                window.location.href = url;
            });


        });



    </script>

}